<div class="social-links">
  {% if settings.social_facebook_link.size > 0 %}
    <a target="_blank" href="{{ settings.social_facebook_link }}">
      {% include 'icon-facebook' %}
      <span class="visually-hidden">{{ shop.name }} on Facebook</span>
    </a>
  {% endif %}

  {% if settings.social_instagram_link.size > 0 %}
    <a target="_blank" href="{{ settings.social_instagram_link }}">
      {% include 'icon-instagram' %}
      <span class="visually-hidden">{{ shop.name }} on Instagram</span>
    </a>
  {% endif %}

  {% if settings.social_twitter_link.size > 0 %}
    <a target="_blank" href="{{ settings.social_twitter_link }}">
      {% include 'icon-twitter' %}
      <span class="visually-hidden">{{ shop.name }} on Twitter</span>
    </a>
  {% endif %}
</div>
