{% assign action = 'https://coterie.us19.list-manage.com/subscribe/post' %}
{% assign u = 'f6d39ea1bd8d904e503fb953e' %}
{% assign id = 'd1a5564780' %}

{% capture hidden_input %}
  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f6d39ea1bd8d904e503fb953e_d1a5564780" tabindex="-1" value=""></div>
{% endcapture %}

<div class="email-capture__section" data-section-id="{{ section.id }}" data-section-type="email-capture" data-enable-history-state="true">
  <div class="body-m small--hide">{{ section.settings.text }}</div>
  <form method="POST" action="{{ action }}" novalidate="">
    <input type="hidden" name="u" value="{{ u }}">
    <input type="hidden" name="id" value="{{ id }}">
    <input class="email-capture__email" placeholder="{{ section.settings.placeholder }}" type="email" value="" name="EMAIL" id="mce-EMAIL" />
    {{ hidden_input }}
    <button class="email-capture__button" type="submit" >
      {% include 'submit-arrow' %}
    </button>
    <div class="email-capture__error"><small>Please check the email address you entered.</small></div>
  </form>



  <div class="email-capture__success">
    {{ section.settings.confirmation }}
  </div>
</div>

{% schema %}
  {
    "name": "Email Capture",
    "class": "email-capture",
    "settings": [
      {
        "type": "header",
        "content": "Email Form"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Register to grow with us:"
      },
      {
        "type": "text",
        "id": "placeholder",
        "label": "Email Placeholder",
        "default": "Your email"
      },
      {
        "type": "textarea",
        "id": "confirmation",
        "label": "Confirmation Message",
        "default": "Thank you!"
      }
    ],
    "presets": [
      {
        "name": "Email Capture",
        "category": "Homepage"
      }
    ]
  }

{% endschema %}