<footer data-section-id="{{ section.id }}" data-section-type="footer" class="footer">

  <div class="footer__top body-s">
    <div class="footer__left">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <div class="footer__left__contact">
            <strong class="body-xs footer__left__contact__prompt">{{ block.settings.label }}</strong>
            {% assign address = block.settings.email_address %}
            <a href="{{ 'mailto:' | append: address }}" class="footer__left__contact__address" target="_blank">
              {{ address }}
            </a>
          </div>
        {% endfor %}
      {% endif %}

      <div class="footer__social small--hide">
        {% include 'social-links' %}
      </div>
    </div>

    <div class="footer__right body-xs">
      {%- assign footer_linklist = section.settings.footer_linklist -%}

      {% if linklists[footer_linklist].links.size > 0 %}
          {% for link in linklists[footer_linklist].links %}
          <div class="footer__right__menu">
            <strong>
              {% if link.url == '#' %}
                <span>{{ link.title }}</span>
              {% else %}
                <a href="{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            </strong>
            {% if link.links.size > 0 %}
              <ul>
                {% for sublink in link.links %}
                  <li>
                    {% if sublink.url == '#' %}
                      <span>{{ sublink.title }}</span>
                    {% else %}
                      <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
          {% endfor %}
      {% endif %}
    </div>

    <div class="footer__social medium-up--hide">
      {% include 'social-links' %}
    </div>
  </div>

  <div class="footer__legal body-xs">
    <div class="footer__legal__left">
      {{ "logo.svg" | asset_url | img_tag: shop.name }}
      <small>&copy;{{ 'now' | date: "%Y" }} {{ section.settings.copyright_text }}</small>
    </div>

    <div class="footer__legal__right">
      {%- assign footer_legal = section.settings.footer_legal -%}
      {% if linklists[footer_legal].links.size > 0 %}
        {% for link in linklists[footer_legal].links %}
          &nbsp;{% if link.url == '#' %}
            <span>{{ link.title }}</span>
          {% else %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "Footer",
    "blocks": [
      {
        "type": "contact_info",
        "name": "Contact Link",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Contact Prompt",
            "default": "Have a question?"
          },
          {
            "type": "text",
            "id": "email_address",
            "label": "Email Address",
            "default": "Hello@Coterie.com"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      },
      {
        "type": "text",
        "id": "copyright_text",
        "label": "Copyright Text",
        "default": "Coterie Baby, Inc. All Rights Reserved."
      },
      {
        "type": "link_list",
        "id": "footer_legal",
        "label": "Legal menu"
      }
    ]
  }
{% endschema %}
