{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="header" class="header">

  <div class="header__hamburger medium-up--hide" data-menu-toggle>{% include 'icon-hamburger' %}</div>

<div class="header__desktop-left">
  <header role="banner" class="header__logo">
    {% if template.name == 'index' %}
      <h1>
    {% else %}
      <div class="h1">
    {% endif %}
        <a href="/" class="logo-image">
          {{ "logo.svg" | asset_url | img_tag: shop.name }}
        </a>
    {% if template.name == 'index' %}
      </h1>
    {% else %}
      </div>
    {% endif %}
  </header>

  <nav role="navigation" class="header__nav" data-mobile-nav>
    <ul class="header__nav__primary">
      {% for link in linklists[section.settings.menu].links %}
        {% if link.links != blank %}
          <li data-submenu class="header__nav__submenu">
            <a href="{{ link.url }}" class="header__nav__submenu__link header__nav__primary__link" data-submenu-link>
              {{ link.title }}
            </a>
            <div class="header__nav__submenu__list body-l" data-submenu-list>
              {% include 'icon-close',
                class: "header__nav__submenu__close",
                attributes: 'data-submenu-dismiss' %}
              <ul>
                {% for childlink in link.links %}
                  <li>
                    {% if childlink.url == '#' %}
                      <span>{{ childlink.title }}</span>
                    {% else %}
                      <a href="{{ childlink.url }}">{{ childlink.title }}</a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </li>
        {% else %}
          <li>
            {% if link.url == '#' %}
              <span class="header__nav__primary__link">
                {{ link.title }}
              </span>
            {% else %}
              <a class="header__nav__primary__link" href="{{ link.url }}">
                {{ link.title }}
              </a>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>


  <div class="header__right text-right">
    <a class="header__cart-button" href="/cart">
      Cart
    </a>
  </div>
</section>

{% if section.settings.logo != blank %}
  <style>
    .logo-image {
      display: block;
      max-width: {{ section.settings.logo_max_width }}px;
    }
  </style>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": "https:{{ section.settings.logo | img_url: image_size }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
